/* The Project */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	user-select: none;
	font-family: system-ui;
	background-color: #E2E2E2;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
	font-size: 1.7rem;
	font-weight: 800;
	color: #e2e2e2;
	letter-spacing: 1.4;
}

#divh1{
	height: 19%;
	display: flex;
	align-items: center;
}

img {
	pointer-events: none;
}

/* Header */
.side-bar {
	width: 16vw;
	height: 100vh;
	background-color: #12212D;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#header-container{
	height: 79%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.header-btn{
	color: #E2E2E2;
	border: none;
	background-color: #12212D;
	font-size: 1.2em;
	margin: 0.2em 0;
	padding-left: 0.5em;
	text-align: left;
	width: 100%;
	height: 20%;
}

.header-btn:hover{
	animation: textAnimHover 0.5s ease 0s 1 normal forwards;
}

.header-btn:not(:hover) {
    animation: textAnimHoverOut 0.5s ease 0s 1 normal forwards;
}

.header-title {
	width: 100%;
	height: 2em;
	line-height: 2em;
	text-align: center;
	font-size: 1.2em;
	font-weight: 800;
	color: #12212D;
	margin-bottom: 10px;
	background-color: #e2e2e2;
}

.select-level {
	height: 40%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.restart-skip {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Main Container */
.container {
	width: 95vh;
	height: 95vh;
	display: flex;
	flex-wrap: wrap;
	margin-left: 16vw;
}

/* Separation Between the headers */
#separation {
	width: 20%;
	height: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.content {
	width: 80%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
}

.numbers-up, .numbers-left {
	display: flex;
	color: #E2E2E2;
}

.numbers-selected {
	color: rgb(226,226,226, 0.3);
}

.numbers-up {
	justify-content: space-around;
	width: 80%;
	height: 19.5%;
}

.numbers-left {
	margin-right: 0.5%;
	justify-content: space-around;
	flex-direction: column;
	width: 19.5%;
	height: 80%;
}

.numbers-square {
	display: flex;
	flex-wrap: wrap;
	background-color: #182C3C;
}

#numbers-square-up{
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	border-radius: 5px;	
	padding-bottom: 3px;
}

#numbers-square-left {
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	border-radius: 5px;
	padding-right: 2px;
}

.square {
	border: 1px solid rgb(4, 32, 51, 0.5);
	background-color: #E2E2E2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-square {
	background-color: #142633;
    border: none;
}

.wrong-square {
    animation: wrongSquare 1.5s ease 0s 1 normal forwards !important;
    border: none;
}

.square:hover {
	cursor: pointer;
}

.square img {
	width: 60%;
	height: 60%;
}

.initialize {
	display: none;
}


/* Switch Button */

.switch {
	display: flex;
	flex-direction: column;
	background-color: #12212D;
	margin-left: 5%;
	border-radius: 20px;
}

.switch-button {
	width: 45px;
	height: 45px;
	border-radius: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.switch-button img {
	width: 30px;
	height: 30px;
}

#false {
	margin-bottom: 4px;
}

#true {
	margin-top: 4px;
}

.selected {
	background-color: #EAEAEA;
	box-shadow: 0px 0px 29px 3px rgba(226,226,226,1);
}

/* End Game Card */
.alert-show {
	opacity: 1;
	visibility: visible;
 
}

.alert {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
	height: 50%;
	border-radius: 20px;
	background-color: #12212D;
	z-index: 2;
}

/*Alert Anim*/
.alert-anim {
	display: flex;
	animation: alertAnim 1s ease 0s 1 normal forwards;
}

.alert h2 {
	font-size: 4em;
	font-weight: 800;
	color: #E2E2E2;
	letter-spacing: 1.4;
	position: absolute;
	top: 0.5em;
}

.alert-btn-div {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	margin-bottom: 5em;
}

.alert-btn button {
	width: 50%;
	height: 50%;
}

.alert-btn{
	color: #E2E2E2;
	border: none;
	background-color: #12212D;
	font-size: 1.5em;
	width: 30%;
	transition: font-size 0.5s ease;
}

.alert-btn:hover{
	animation: textAnimAlert 0.5s ease 0s 1 normal forwards;
}

.alert-btn:not(:hover) {
    animation: textAnimAlertOut 0.5s ease 0s 1 normal forwards;
}


.endGame-opacity {
	opacity: 1;
	transition: opacity 1s ease 0s;
}

/*Body Lost Game*/
.body-lost-game {
	opacity: 0.1;
	pointer-events: none;
}

